<div class="card">
	<div class="card-header">
		<h3 class="display 4 text-center">Search For Plants</h3>
		<div class="row conatiner-fluid justify-content-center">		
			<span class="font-weight-bold">
				Search: <input type="text" maxlength="25" ng-model="searchValue">
				<br><br>
			</span>	
		</div>		
	</div>
	<div class="card col-lg-11 new-custom-dark-green">
		<div class="row container-fluid justify-content-center">	
			<div class="col-lg-3 card card-custom m-3" ng-repeat="plant in plants | orderBy:'plantName' 
				| filter:searchValue">
				<div class="card-title text-center">
					<h3>{{plant.plantName}}</h3>			
				</div>	
				<img class="img-fluid card-img-top card-image img-thumbnail"
					src="{{plant.img}}" alt="Card image">					
				<div class="card-body font-weight-bold">	
					<ul>					
						<li>Hardiness Zones : {{plant.hardinessZones}}</li>						
						<li>Plant Type : {{plant.plantType}}</li>
						<li>Growing Season : {{plant.growingSeason}}</li>
						<li>Light Required : {{plant.lightRequired}}</li>
						<li>Water Required : {{plant.waterRequired}}</li>
					</ul>												
				</div>				
			</div>		
		</div>
	</div>
	<div class="card-footer">
	</div>
</div>